In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Jupyter Notebook, Google Colab 등에서 그래프를 셀 안에 바로 표시하기 위한 설정
# %matplotlib inline
# 시각화 시 한글 폰트가 깨지는 것을 방지하기 위한 설정
import platform
from matplotlib import font_manager, rc

plt.rcParams['axes.unicode_minus'] = False
if platform.system() == 'Windows':  # Windows 환경
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
elif platform.system() == 'Darwin':  # Mac 환경
    rc('font', family='AppleGothic')
else:
    print('Unknown system... sorry~~~~')

In [ ]:
file_path = "../../dataset/normal_dataset(콜센터).csv"
df = pd.read_csv(file_path)

In [5]:
df.head()

,file_name,category,subcategory,spk,msg
0,S000001.json,교육,공부방법,1,그 저기 뭐지 예 수학 선생님들이 여러분 계신데.
1,S000001.json,교육,기타문의,1,n/ 네 그래요 그러면 얘한테 뭐 듣고 (싶) 우선은 (연) 연장 (가) 근데 여기가
2,S000001.json,교육,기타문의,1,조금 이런 게 안 좋은 것 (같아요)/(같애요)l/.
3,S000001.json,교육,기타문의,2,n/ 그 부분은 꼭 건의드리겠습니다. 어머니.
4,S000001.json,교육,기타문의,1,n/ 네 좀 이런 부분은 조금 불편한 것 같네요 그러고 보니까.

In [6]:
df.tail()

,file_name,category,subcategory,spk,msg
4426581,S038329.json,전자상거래,"결제, 취소, 환불 문의",1,n/ 네네 통합 주문 방식으로 하면 배송료가 안 드나요?
4426582,S038329.json,전자상거래,"결제, 취소, 환불 문의",1,o/ 네 저희 오늘 교재를 샀는데요. 그 네 빠진 교재가 있어서 추가 주문하고 싶은데.
4426583,S038329.json,전자상거래,"결제, 취소, 환불 문의",1,캐시로 넣어주시면 그걸로 그냥 결제하면 되죠?
4426584,S038329.json,전자상거래,"결제, 취소, 환불 문의",2,제가 이거 (2개)/(두 개)만 좀 취소해드릴 테니까 이 (2개)/(두 개)랑 다시...
4426585,S038329.json,전자상거래,"결제, 취소, 환불 문의",2,네. 여기다 그냥 추가로 결제하셔서 그냥 (추) 차액만 결제하시면 되거든요?

In [9]:
df.describe()

                spk
count  4.426586e+06
mean   1.511762e+00
std    5.327053e-01
min    1.000000e+00
25%    1.000000e+00
50%    1.000000e+00
75%    2.000000e+00
max    6.000000e+00

In [10]:
df.isnull().sum()

file_name      0
category       0
subcategory    0
spk            0
msg            0
dtype: int64

In [11]:
df.shape

(4426586, 5)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4426586 entries, 0 to 4426585
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   file_name    object
 1   category     object
 2   subcategory  object
 3   spk          int64
 4   msg          object
dtypes: int64(1), object(4)
memory usage: 168.9+ MB

In [13]:
df['spk'] = df['spk'] -1
df['spk'].head(10)

0    0
1    0
2    0
3    1
4    0
5    0
6    1
7    1
8    0
9    0
Name: spk, dtype: int64

In [16]:
# 저장할 파일의 경로와 이름을 지정합니다.
# 'output.csv' 부분을 원하시는 이름으로 변경하여 사용하세요.
output_file_path = '../../dataset/normal_dataset(콜센터).csv'
try:
  # df.to_csv() 함수를 사용하여 DataFrame을 CSV 파일로 저장합니다.
  df.to_csv(output_file_path, index=False, encoding='utf-8-sig')
  print(f"DataFrame이 '{output_file_path}' 파일로 성공적으로 저장되었습니다.")
except Exception as e:
  print(f"파일을 저장하는 중 오류가 발생했습니다: {e}")

DataFrame이 '../../dataset/normal_dataset(콜센터).csv' 파일로 성공적으로 저장되었습니다.